<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Twilio SMS Gateway</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css">
	</head>
	<body>
        <div class="w-80-ns w-100 pa2 center">
            <h1 class="sans-serif" >Twilio → MQTT Gateway</h1>
            <p>
                The Twilio → MQTT web server is running. [This doesn't mean it's
                connected to Twilio or the MQTT server, though…]
            </p>
            <p>
                <a href="{{readme_url}}">Read on…</a>
            </p>
        </div>
	</body>
</html>
